{% extends 'layout.html' %}


{% block title %}Главная страница{% endblock %}



{% block content %}
      <div class="features">
        <h1 class="d-flex justify-content-center text-primary fs-1 py-1 h-100">Английские футбольные клубы</h1>
        <ol>
           {% for i in post %}
            <li>
                <h2 class="p-3 ml-3 mb-2 bg-success text-white">{{i.name}}</h2>
                <div class="d-flex justify-content-center">
                    <p class="shadow p-3 mb-5 bg-body-tertiary rounded w-50 fs-5">{{i.description}}</p>
                    <img src="{{i.image.url}}" class="rounded mx-auto d-block w-25">
                </div>
                <div class="">
                    <h6 class="shadow p-3 mb-5 bg-body-tertiary rounded m-2 w-50 fs-5">{{i.created_date}}   <a href="{{i.url}}" class=" link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-1 fs-5">Подробнее</a></h6>


                </div>
            </li>
            {% endfor %}
        </ol>
      </div>
{% endblock %}